html, body {
	overflow: scroll;
	margin: 0;
	width: 100%;
	height: 100%;
  /* background-image: url('./img/bg_flower.jpg'); */
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  font-family: sans-serif;
  font-size: 15pt;
  margin-right: 100px;
}

h1 {
  margin-left: 100px;
  font-size: min(90pt,10vh);
}

#navbar-logo {
    width: 16vmin;
    margin-left: -20px;
  }

#navigation li{
    display: inline;
    vertical-align: middle;
    padding-top: 45px;
}

.top-menu
    {
    background-color:rgba(0, 0, 0, 1);
    position: absolute;
    width: 100%;
    height: 83px;
    z-index: 2;
    }

.top-menu a{
    background:transparent;
    font-family: 'Cinzel', serif;
    text-decoration: none;
    font-size: calc(7px + 1vmin);
  }

.top-menu a:hover{
    color:white;
  }

.bottom-menu
  {
  background-color:rgba(0, 0, 0, 1);
  width: 100%;
  float: right;
  /* min-height: 83px; */
  z-index: 2;
  }

.bottom-menu a{
  background:transparent;
  font-family: 'Cinzel', serif;
  text-decoration: none;
  font-size: calc(4px + 2vmin);
  margin-right: 10px;
  margin-left: 0px;
}

.bottom-menu a:hover{
  color:white;
}

.default{
    color: rgba(255, 255, 255, 0.589);
    margin-left: 10px;
}

.clicked{
    color: white;
    margin-left: 10px;
}

#footer{
    position:absolute;
    right:0px;
    bottom:0;
    color: white;
}

#footer li{
    display: inline;
    vertical-align: middle;
}

.icon {
    margin: 3px;
    color: white;
}

.scroll-button {
  width: 300px;
  height: 300px;
  border: 1px solid #ff8899;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grad1 {
  height: 1000px;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
  z-index: 2;
}

.landing {
  /* width: 100%; */
  margin-top: 80px;
  /* padding-top: 90px; */
  min-height: 100vh;
  z-index: 1;
  background-image: url('./img/michel2.jpg');
  background-repeat: no-repeat;
  background-color: #000000;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.landing-content {
  padding-top: 80vh;
  position: relative;
}


.page {
    width: 100%;
    padding-top: 83px;
    margin-top: 100px;
    margin-bottom: 100px;
    /* top: 83px; */
    color: rgb(145, 145, 145);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.divider {
  /* display: none; */
  width: 100%;
  padding-top: 83px;
  margin-top: 100px;
  margin-bottom: 100px;
  height: 500px;
  /* top: 83px; */
  color: rgb(145, 145, 145);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.divider-1 {
  background-image: url('./img/bg_flower.jpg');
}

.divider-2 {
  background-image: url('./img/bg_flower_2.jpg');
}

.divider-3 {
  background-image: url('./img/pexels-jack-gittoes-761543.jpg');
}

#music{
  /* background-image: url('./img/bg_flower.jpg'); */
}

#reviews{
  /* background-image: url('./img/bg_flower_2.jpg'); */
}

#videos{

}

.grid-container-two-columns {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  row-gap: 100px;
  column-gap: 50px;
  grid-auto-rows: 300px;
  margin-left: min(300px,1vmin);
  margin-right: min(300px,1vmin);
}

.grid-left {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-self: center;
}
.grid-right {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-self: center;
}





.video-grid-container-two-columns {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  row-gap: 100px;
  column-gap: 10px;
  grid-auto-rows: 300px;
  margin-top: 200px;
  margin-bottom: 200px;
  padding-bottom: 200px;
  margin-left: min(300px,1vmin);
  margin-right: min(300px,1vmin);
}

.video-grid-two-columns-left {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: red;
  justify-self: center;
}
.video-grid-two-columns-right {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: blue;
  justify-self: center;
}

.video {
  width: min(40vw, 563px);
  height: min(30vw,422px);
}

#bandcamp-player {
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  width: 50vw;
  display: block;
}


.reviews-grid-container-two-columns {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  row-gap: 100px;
  column-gap: 10px;
  grid-auto-rows: 100px;
  margin-top: 200px;
  margin-bottom: 200px;
  padding-bottom: 200px;
  margin-left: min(300px,1vmin);
  margin-right: min(300px,1vmin);
}

.reviews-grid-two-columns-left {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-self: center;
}
.reviews-grid-two-columns-right {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-self: center;
}

.reviews-text {
  overflow-y: scroll;
}











.wrap {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    /* row-gap: 100px; */
    column-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    /* margin: 50px; */
    /* overflow-y: scroll;
    max-height: 10%; */
}

.span-two-columns-1 {
  grid-column-start: 5;
  grid-column-end: 9;
  margin: 50px;
}

.span-three-columns-1 {
  grid-column: 1/4;
  grid-row: 1;
}

.span-three-columns-2 {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row: 2;
  margin: 50px;
}

.tour-widget {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row: 1;
  margin-left: 300px;
  margin-right: 300px;
}


.page-image-1{
  margin-left:auto;
  margin-right:auto;
  width: max(50vw,400px);
  background-color: blue;
  display: block;
}
/* 
.page-image-1{
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row: 1;
  vertical-align: middle;
  /* background-color: blue; */
  /* max-height: 100vh; */
  /* width: 60vw; */
  /* max-width: 600px; */
  /* width: calc(1px + 50vmin); */
  /* width: 100%; */
  /* min-width: 150px; */
  /* max-width: 1000px; */
  /* margin-left: 5vw; */
  /* right: auto; */
  /* margin: 10px; */
/* } */

.imgbox {
  display: grid;
  height: 100%;
}
.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.text-left {
    width:50%;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.text-right {
    width:50%;
    margin-left:600px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

#loading-percentage {
    color:rgba(240, 248, 255, 0.315);
    text-align: center;
    font-family: monospace;
    font-size: small;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    position: relative;
    top: 30%;
    transform: translateY(-50%);
}

#loading-screen {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 1;
 	transition: 1s opacity;
}

#loading-screen.fade-out {
    opacity: 0;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.landing-carousel {
  width: 100%;
  margin-top: 90px;
  /* padding-top: 90px; */
  /* background-color: white; */
  min-height: 10vh;
  z-index: 1;
}

.carousel-page {
  margin-left: min(300px,1vmin);
  margin-right: min(300px,1vmin);
}



.carousel-page-focus-left {
  display: grid;
  /* row-gap: 10;
  column-gap: 10px; */
  /* grid-auto-rows: 300px; */
  margin-left: min(300px,1vmin);
  margin-right: min(300px,1vmin);
  grid-template-columns: 150px 150px 150px 150px 150px 150px;
  grid-template-rows: auto;
  grid-template-areas: 
    "main main main header header header"
    "main main main subheader subheader subheader"
    "main main main button button ."
}

.carousel-page-focus-left-main {
  grid-area: main;
  justify-self: center;
  align-self: center;
}
.carousel-page-focus-left-header {
  grid-area: header;
  justify-self: center;
  align-self: end;
  color: azure;
}
.carousel-page-focus-left-subheader {
  grid-area: subheader;
  justify-self: center;
  align-self: center;
  color: azure;
}
.carousel-page-focus-left-button {
  grid-area: button;
  justify-self: center;
  align-self: center;
}

